<mat-toolbar color="accent" class="toolbar">
  <span>Tablero Kanban Ibarti({{selectedValue}}) </span>
  <span class="toolbar__spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label><h1>Tipo Novedad:</h1></mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.descripcion">
        {{food.descripcion}}
      </mat-option>
    </mat-select>
    
  </mat-form-field>
  <button
      mat-raised-button
      color="accent"
      (click)="handleEditTask(task)"
    >
    Excel
  </button>
</mat-toolbar>
