.board {
  &__add {
    margin: 1rem;
  }
  &__list {
    display: flex;
    height: 80vh;
    overflow-x: auto;
    padding: 0 1em;
  }
}

.mat-spinner {
  position: relative;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-left: 50%;
  margin-right: 50%;
}
