<div class="form" mat-dialog-content>
  <header class="form__header">
    <h3 class="form__header__title">Actividades Tarea </h3>
    <button
      class="form__header__close-button"
      mat-raised-button
      [mat-dialog-close]="true"
    >
      <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
    </button>
    <!-- <button mat-raised-button color="primary">Delete</button> -->
  </header>
  <div>
    <!-- <p><strong>Novedad:</strong> {{ data.task.novedad }}</p>
    <p><strong>Vencimiento:</strong> {{ data.task.fec_vencimiento }}</p>-->
    <p *ngIf="data?.historial?.length === 0"> Sin Actividades</p>
    <mat-accordion *ngFor="let item of data.historial">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          * {{item.fec_us_ing | date:'yyyy-MM-dd'}} -> {{item.status_kanban}} {{ item.usuario_mod }} 
        </mat-panel-title>
        <span style="padding-right: 10px;">
          {{panelOpenState ? 'Cerrar' : 'Ver'}}
        </span> 
        <!-- <mat-panel-description>
          {{panelOpenState ? 'Cerrar' : 'ver'}}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="task__description"> {{item.actividad}} </p>
      </mat-panel-description>
      
    </mat-expansion-panel>
    
  
  </mat-accordion>
  </div> 
</div>
