.form {
  border-radius: .20em;
  box-shadow: none;
  color: black;
  background-color: green;
  padding: 5px;

  &__list {
    color: black;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    &__title {
      text-align: center;
    }
    &__close-button {
      border: 0;
      box-shadow: none;
      position: relative;
      top: -5px;
    }
  }

  @media (min-width: 960px) {
    &__header {
      flex-direction: row;
      &__button {
        min-width: 20%;
      }
      h1 {
        text-align: left;
      }
    }
  }
}

.panelModal {
  margin: 0px;
  padding: 0px;
}

mat-label {
  color: black !important;
}
:host{
  color: black;
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  height: 10%;
  display: flex;
  flex-direction: column;
  mat-toolbar {
    flex-grow: 0;
  }
  
}