<div 
  class="task"
  id="task_{{task.codigo}}"
  >
<!--  [ngClass]="{'task--urgent': task.priority === 'urgent', 'task--moderate': task.priority === 'moderate', 'task--low': task.priority === 'low'}"  -->
  <div class="task__title">
    {{task.tipo}}
    <h3>{{ task.novedad }}</h3>
  </div>
  <button  matTooltip="Editar tarea" matTooltipClass="custom-tooltip-blue" matTooltipPosition="above" mat-icon-button (click)="handleEditTask(task)">
    <mat-icon aria-label="icon-button to edit">edit</mat-icon>
  </button>
  <p class="task__date"><strong>Fecha de Creación:</strong> {{ task.fec_us_ing }}</p>
  <div class="task__description">
    <p><strong>Cliente:</strong> {{ task.cliente }} / {{ task.ubicacion }}</p>
    <p><strong>Trabajador:</strong> {{ task.trabajador }} ({{task.cod_ficha}})</p>
    <p><strong>Observación:</strong> {{ task.observacion }}</p>
    <p *ngIf="task?.respuesta"><strong>Respuesta:</strong> {{ task.respuesta }}</p>
    <p><strong>Usuario:</strong> {{ task.usuario != "" && task.usuario != null ? task.usuario : "Sin Asignar" }}</p>
    <p class="task__date"><strong>Fecha de Vencimiento:</strong> {{ task.fec_vencimiento | date:'yyyy-MM-dd'}}</p>
  </div>
</div>