<form fxLayout="column" fxLayoutGap="5px"
  class="form"
  [formGroup]="createTask"
  (ngSubmit)="onFormAdd()"
  novalidate
>
  <header class="form__header">
    <h3 class="form__header__title">{{ formText }} Excel </h3>
   
    <button
     mat-raised-button
    color="accent"
    (click)="exportArray()"
  >
    <mat-icon aria-hidden="false" aria-label="close icon">book</mat-icon>
  </button>  
  <button
  class="form__header__close-button"
  mat-raised-button
  [mat-dialog-close]="true"
>
  <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
</button> 
  </header>
  <div>
  <mat-form-field appearance="fill" color="accent">
    <h3><mat-label>Desde</mat-label></h3>
    <input name="fecha_desde" formControlName="fecha_desde" matInput [matDatepicker]="picker">
   
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
    
  <mat-form-field appearance="fill" color="accent">
    <h3><mat-label>Hasta</mat-label></h3>
    <input name="fecha_hasta" formControlName="fecha_hasta" matInput [matDatepicker]="picker1">
  
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>


</form>

