<form
  class="form"
  [formGroup]="createTask"
  (ngSubmit)="onFormAdd()"
  novalidate
>
  <header class="form__header">
    <h3 class="form__header__title">{{ formText }} Tarea </h3>
    <button
      class="form__header__close-button"
      mat-raised-button
      (click)="close()"
    >
      <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
    </button>
   
  </header>
  <section class="form__fields">
    <div>
      <p><strong>Novedad:</strong> {{ task?.novedad }}</p>
    </div>
    <mat-form-field appearance="fill" color="primary" class="form__fields__item">
      <mat-label>Seleccione un usuario</mat-label>
      <select
        matNativeControl
        [(ngModel)]="selectedUser"
        name="cod_usuario"
        formControlName="cod_usuario"
      >
        <option value="" selected></option>
        <option *ngFor="let user of users" [value]="user.codigo">
         {{ user.nombre }} {{ user.apellido }} ( {{ user.cedula }})
        </option>
      </select>
      <mat-error> Usuario  es <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <br>
    <button
      class="form__fields__button"
      mat-raised-button
      color="primary"
      (click)="save()"
    >
    Guardar
    </button>
  </section>
</form>
