<form fxLayout="column" fxLayoutGap="5px"
  class="form"
  [formGroup]="createTask"
  (ngSubmit)="onFormAdd()"
  novalidate
>
  <header class="form__header">
    <h3 class="form__header__title">{{ formText }} Tarea </h3>
    <button
      class="form__header__close-button"
      mat-raised-button
      [mat-dialog-close]="true"
    >
      <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
    </button>
   
  </header>
    <div>
      <p><strong>Novedad:</strong> {{ data.task.novedad }}</p>
    </div>
    <mat-form-field appearance="fill" color="accent" class="form__fields__item">
      <mat-label>Seleccione un usuario</mat-label>
      <select
        matNativeControl
        [(ngModel)]="selectedUser"
        name="cod_usuario"
        formControlName="cod_usuario"
      >
        <option value="" selected></option>
        <option *ngFor="let user of data.users" [value]="user.codigo">
         {{ user.nombre }} {{ user.apellido }} ( {{ user.cedula }})
        </option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" color="accent">
      <h3><mat-label>Vencimiento</mat-label></h3>
      <input name="fec_vencimiento" formControlName="fec_vencimiento" matInput [matDatepicker]="picker">
      <mat-hint>YYYY/MM/DD</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button
      mat-raised-button
      color="accent"
      (click)="save()"
    >
    Guardar
  </button>
</form>
